name: Run Haneda Radar

permissions:
  contents: write

on:
  workflow_dispatch:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      AVIATION_STACK_API_KEY: ${{ secrets.AVIATION_STACK_API_KEY }}
      DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - run: pip install requests

      - run: python main_v8.py

      - run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add index.html
          git commit -m "Update data" || exit 0
          git push

      - run: echo "Access here: https://sunny-kasetaku.github.io/haneda-radar/"